<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ani.saikou">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Saikou"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:ignore="AllowBackup">
        <activity
            android:name=".media.StudioActivity"
            android:exported="false" />
        <activity
            android:name=".user.ListActivity"
            android:exported="false" />
        <activity
            android:name=".manga.MangaReaderActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:exported="false" />
        <activity
            android:name=".GenreActivity"
            android:exported="true" />
        <activity
            android:name=".SearchActivity"
            android:exported="true" />
        <activity
            android:name=".media.MediaDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".media.CharacterDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".NoInternet"
            android:exported="true" />
        <activity
            android:name=".anime.ExoplayerView"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:exported="true"
            android:keepScreenOn="true"
            android:theme="@style/Theme.Saikou.Exoplayer" />
        <activity
            android:name=".anilist.Login"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:exported="true">
            <intent-filter android:label="Anilist Login for Saikou">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="anilist"
                    android:scheme="saikou" />
            </intent-filter>
        </activity>
        <activity
            android:name=".anilist.UrlMedia"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:exported="true">
            <intent-filter android:label="Read on Saikou">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="anilist.co" />
                <data android:host="myanimelist.net" />
                <data android:pathPrefix="/manga" />
            </intent-filter>
            <intent-filter android:label="Watch on Saikou">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="anilist.co" />
                <data android:host="myanimelist.net" />
                <data android:pathPrefix="/anime" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>